.avatar {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  overflow: hidden;
  padding: 23px;
}

.chatroom-h1{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.container-chatrooms1{
  margin-bottom: 50px;
  padding: 4px;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

.card-product {
  overflow: hidden;
  height: 90px;
  background: rgb(255, 255, 255);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  margin-top: 4px;
  border-radius: 35px;
  font-family: 'Poppins', sans-serif;

}

.card-product img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 15px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}
