.site-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.landing-page-headers {
  margin-top: 20px;
  text-align: center;
  color: white;

  .main-title {
    font-size: 64px;
    margin-top: 15px;
  }

  .secondary-subheader {
    font-size: 24px;
  }
}

.video-intro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

#video {
  object-fit: cover;
  height: 100vh;
  width: 100%;
}

.btns-landing-page {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 50px;

  #btn-sign-up {
    margin-top: 10px;
  }

  #link-visitor {
    text-decoration: none;
    color: white;
    margin-top: 10px;
  }
}
