.swiper-container {
  text-align: center;

  .outfit-creator-heading {
    text-align: center;
    margin-bottom: 0;
  }

  .outfit-submit-btn {
    display: flex;
    justify-content: center;
  }

  .btn-main.submit {
    background-color: #798478;
    border: none;
    margin: 15px 0 15px 0;
    align-items: center;
    width: 250px;
  }

  .outfit-input {
    border-radius: 5px;
    border: none;
    justify-content: center;
    width: 225px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  // .outfit-input-container {
  //   align-items: center;
  //   justify-content: center;
  // }
}

.swiper-slide {
  display: flex!important;
  justify-content: center;
}
