<div class="container">
  <%= render "shared/hamburger_menu" %>
    <div class="outfit-cards">
      <% @outfits.each do |outfit| %>
        <%= render "outfit", outfit: outfit %>
      <% end %>
    </div>
</div>
           <%= render "shared/navbar_add_outfit" %>

