<div class="container">
  <h2 class="header-items"><%= @user.username %>'s swappables</h2>
  <%= render "shared/hamburger_menu" %>
  <h2 class="header-items">My Closet</h2>
  <%= render "items/items_list", items: @items %>
</div>
