<div class="container">
  <%= render "shared/hamburger_menu" %>
  <h2 class="header-items">My Closet</h2>
      <%= render "items/items_list", items: @items %>
      <%= render "shared/navbar_add_item" %>
</div>
