  <div class="profile-container">
    <div class="profile-picture">
      <img src="path/to/profile-image.jpg" alt="Profile Image">
    </div>
    <button class="profile-button">Edit Profile</button>
    <%= current_user.first_name %>
  </div>
