<div class="dropdown right-aligned-hamburger">
  <a class="btn btn-transparent dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-bars"></i>
  </a>

  <ul class="dropdown-menu wide-menu-options" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item hamburger-link" href="#">My profile</a></li>
    <li><a class="dropdown-item hamburger-link" href="#">My outfits</a></li>
    <li><a class="dropdown-item hamburger-link" href="#">Swap requests</a></li>
    <li><a class="dropdown-item hamburger-link" href="#">Received swaps</a></li>
    <li><a class="dropdown-item hamburger-link" href="#">Sign out</a></li>
  </ul>
</div>

<%# link_to "Swap reguests", swaps_path
link_to "Received swaps", received_swaps_path %>
