

<!-- Your main content goes here -->

<!-- Navbar -->
<nav class="bottom-navbar">
  <a href="#" class="navbar-item">
    <i class="fas fa-home"></i>
  </a>
  <a href="#" class="navbar-item">
    <i class="fas fa-tshirt"></i>
  </a>
  <a href="#" class="navbar-item">
    <i class="fas fa-hanger"></i>
  </a>
  <a href="#" class="navbar-item">
    <i class="fas fa-exchange-alt"></i>
  </a>
</nav>

