

<!-- Your main content goes here -->

<!-- Navbar -->
<nav class="bottom-navbar">
  <%= link_to root_path, class: "navbar-item" do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to items_path, class: "navbar-item" do %>
    <i class="fa-solid fa-shirt"></i>
  <% end %>

  <%= link_to "#", class: "navbar-item" do %>
    <i class="fa-solid fa-person-dress"></i>
  <% end %>

  <%= link_to swaps_path, class: "navbar-item" do %>
    <i class="fa-solid fa-rotate"></i>
  <% end %>
</nav>
