

<!-- Your main content goes here -->

<!-- Navbar -->
<nav class="bottom-navbar">
  <a href="#" class="navbar-item">
    <i class="fas fa-home"></i>
  </a>
  <a href="#" class="navbar-item">
    <i class="fa-solid fa-shirt"></i>
  </a>

    <a href="#" class="navbar-item">
    <i class="fa-solid fa-person-dress"></i>
  </a>

  <a href="#" class="navbar-item">
    <i class="fa-solid fa-rotate"></i>
  </a>
</nav>
