<!-- app/views/shared/_navbar.html.erb -->

<nav class="fixed.navbar">
  <%= link_to root_path do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to "#" do %>
    <i class="fa-solid fa-rotate"></i>
  <% end %>

  <%= link_to "#" do %>
    <i class="fa-duotone fa-rotate"></i>
  <% end %>

  <%= link_to "#" do %>
    <i class="fas fa-user"></i>
  <% end %>
    <svg width="24" height="24" viewBox="0 0 24 24">
      <path d="wardrobe-outline.svg"/> 
    </svg>

</nav>
