

<!-- Your main content goes here -->

<!-- Navbar -->
<nav class="bottom-navbar">
  <%= link_to home_path, class: "navbar-item" do %>
    <i class="fas fa-home"></i>
  <% end %>

  <%= link_to my_closet_path, class: "navbar-item" do %>
    <i class="fa-solid fa-shirt"></i>
  <% end %>

  <%= link_to outfits_path, class: "navbar-item" do %>
    <i class="fa-solid fa-person-dress"></i>
  <% end %>

  <%= link_to items_path, class: "navbar-item" do %>
    <i class="fa-solid fa-rotate"></i>
  <% end %>
</nav>
