<section class="menu-container">
  <div class="closet-menu-item">
    <h2><%= link_to "My Closet", my_closet_path, class:"menu-titles" %></h2>
  </div>
  <div class="explore-menu-item">
    <h2 class="menu-titles">Outfits</h2>
  </div>
  <div class="swappable-menu-item">
    <h2><%= link_to "Swappable Items", items_path, class:"menu-titles" %></h2>
  </div>
  <div class="category-menu-item">
    <h2 class="menu-titles">Categories</h2>
  </div>
</section>
