<section class="menu-container">
  <div class="closet-menu-item">
    <h2 class="menu-titles">My closet</h2>
  </div>
  <div class="explore-menu-item">
    <h2 class="menu-titles">Outfits</h2>
  </div>
  <div class="swappable-menu-item">
    <h2 class="menu-titles">Swappable Items</h2>
  </div>
  <div class="category-menu-item">
    <h2 class="menu-titles">Categories</h2>
  </div>
</section>
