<div class="row gx-4 gy-4 mt-1" data-search-items-target="list">
  <% if items.any? %>
    <%# if params[:query] %>
    <%# end %>
    <% items.each do |item| %>
        <%= render item %>
    <% end %>
  <% else %>
    <h2>Sorry, no swappable items found...</h2>
  <% end %>
</div>

