<%= render "shared/search" %>

<div class="container">
  <%= render "shared/hamburger_menu" %>
  <h2 class="header-items">Swappable Items</h2>
  <%= render "items_list", items: @items %>
</div>
</div>
