.dropdown-toggle::after {
  content: none;
}


.btn-transparent {
    border: none !important;
    margin-right: 0px;
    border-color: transparent !important;
    margin-top: 9px;
}

.right-aligned-hamburger {
  display: flex;
  justify-content: right;
  align-items: center;


  i {
    font-size: 26px;
  }
}

.wide-menu-options {
  border-radius: 15px;
  row-gap: 10px;
}

.hamburger-link {
  font-family: 'Poppins', 'sans-serif';
  // width: 250px;

}
