.btn-main {
  color: white;
  padding: 8px 24px;
  border-radius: 50px;
  opacity: 1;
  background-color: #040404;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border: none;
  text-decoration: none;
  border-style: solid;
  border-color: #040404;
}
