/* Style for the bottom navbar */
.bottom-navbar {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000; /* Black background color */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Optional: Add a subtle shadow */
}

/* Style for each navbar item */
.navbar-item {
  text-decoration: none;
  color: #fff; /* White text color */
  font-size: 20px;
}
