<%= render "shared/search" %>
<section class="container-fluid categories">
  <div class="row category-container">
    <% Category.all.each do |category| %>
      <%= link_to items_path(category_id: category.id), class: "sm-lg-12 d-block" do %>
        <div class="category-card" style="background-image: url('<%= url_for(category.photo) if category.photo.attached? %>');">
          <p class="category-names"><%= category.title %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
